* {
    padding: 0;
    margin: 0;
}
  
  body {
    font-family: 'Arial', sans-serif;
    font-family: roboto ;
  }

  main, header {
    padding: 0 8%;

  }
  /* HEADER */

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }

  .logo {
    cursor: pointer;
  }

  nav {
    display: flex;
    gap: 40px;
  }

  nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #1E2A37;
  }

  nav a:hover {
    color: pink;
  }

.gras {
    font-weight: 700;
  }

.iconeRecherche {
    background-color: #DBE5EE;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.iconeAjout {
    width: 120px;
    height: 7Opx;
    background: linear-gradient(#8C3AAA, #DB3B75, #F28F3D);
    padding: 20px;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.alignIcone {
    display: flex;
    justify-content: space-between;
}


/* MAIN */



/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #1E2A37;
    color: #FFFFFF;
    padding: 2% 7%;
   
    
}

.policeFooter {
    font-size: 22px;
    font-weight: 500;
}
