* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
  body {
    font-family: 'Arial', sans-serif;
    font-family: roboto ;
    background-color: #F6F8FA;
  }

  main, header {
    padding: 0 8%;

  }
  /* HEADER */

  .headerContenair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    max-width: 1400px;
   
  }

  .logo {
    cursor: pointer;
    content: url('Images/Page 1/Header/header-icone-logo-insta.png');
    transition: 0.3s; 
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }

 

  nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #1E2A37;
  }

  nav a:hover {
    background: linear-gradient(#8C3AAA, #DB3B75, #F28F3D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.gras {
    font-weight: 700;
  }

.iconeRecherche {
    background-color: #DBE5EE;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.iconeAjout {
    width: 120px;
    height: 7Opx;
    background: linear-gradient(#8C3AAA, #DB3B75, #F28F3D);
    padding: 20px;
    border-radius: 15px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.alignIcone {
    display: flex;
    justify-content: space-between;
}

.menuBurger {
  display: none; 
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menuBurger span {
  background-color: #262626;
  height: 3px;
  width: 25px;
  border-radius: 2px;
}

/* Responsive Styles */
@media (max-width: 768px) {

  header {
    background-color: #1E2A37;
    color: white;
    padding-bottom: 15px;
  }
  .menuBurger {
    display: flex;
  }

  .nav-menu {
    width: 300px;
    height: 200px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    background-color: #1E2A37;
  }

  nav a {
    color: white;
  }

  .menuBurger span {
    background-color: white;
  }

  .logo {
    content: url('Images/Page 1/Header/logo blanc.png');
  }  

  .iconeRecherche {
    display: none;
  }

  .iconeAjout {
    display: none;
  }
  .nav-menu {
    display: none; /* Cache le menu par défaut */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    display: flex; /* Affiche le menu lorsqu'il est actif */
  }

  .iconeRecherche, .iconeAjout {
    margin-top: 10px;
    align-self: flex-end;
  }
}




/* MAIN */

.contenair {
  width: 275px;
  height: 599px;
  text-align: center;
  background-color: white;
}

.alignHori {
  display: flex;
  justify-content: space-around;
}

.alignTitre {
  display: flex;
  justify-content: center;
}


.paraGauche {
  text-align: left;

}

.titreProfil {
  font-size: 22px;
  font-weight: 500;
}

.alignImane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iconeStories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
}

h2 {
  padding-top: 30px;
}



/* FOOTER */
footer {
    background-color: #1E2A37;
    color: #FFFFFF;
    padding: 2% 8%; 
    text-align: center;
}

.footerContenair{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 auto;
  max-width: 1400;
  flex-wrap: wrap;
      
}

.policeFooter {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footerContenair {
    flex-direction: column; 
    text-align: center; 
    gap: 10px; 
  }
}
