* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
background-color: #F6F8FA;
font-family: roboto;
color:#1E2A37;
}

img {
  max-width: 100%;
}

main {
padding: 0 7%;
}

header {
padding: 20px 7%;
color: white;
}


/* Barre de navigation */
.navbar {
width: 100%;
height: auto;
max-width: 1470px;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 10;
gap: 40px;
}

.logo {
cursor: pointer;
content: url('Images/Page 1/Header/header-icone-logo-insta.png');
transition: 0.3s;
}

/* Liens de navigation */
.nav-links {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.nav-links a {
text-decoration: none;
color: #1E2A37;
font-size: 20px;
font-weight: 300;
transition: color 0.3s;
}

.nav-links a:hover {
background: linear-gradient(#8C3AAA, #DB3B75, #F28F3D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.iconeRecherche {
background-color: #DBE5EE;
padding: 20px;
border-radius: 50%;
cursor: pointer;
}

.align {
display: flex;
gap: 30px;
}

.align a {
text-decoration: none;
}

/* Bouton créer */
.iconeAjout {
width: 100px;
height: 61px;
background: linear-gradient(to bottom left, #8C3AAA , #DB3B75, #F28F3D);
border-radius: 15px;
border: none;
color: #fff;
font-size: 18px;
font-weight: 700;
cursor: pointer;
}

.alignIcone {
display: flex;
justify-content: space-evenly;
align-items: center;
}

.search-container {
  position: relative;
}

.search-icon {
  width: 60px;
  height: 60px;
  background-color: #DBE5EE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.search-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0 20px;
  transition: width 0.3s ease-in-out;
  opacity: 0;
  z-index: 10;
}

/* Barre de recherche visible */
.search-bar.active {
  width: 300px;
  opacity: 1;
  background-color: #DBE5EE;
}

/* Menu burger caché */
.burger {
cursor: pointer;
display: none;
}

/* Menu déroulant masqué */
.nav-menu {
position: fixed;
top: 0;
left: -100%; /* Masque la navigation */
width: 100%;
height: 100%;
background: #1E2A37;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
transition: all 0.3s ease;
}

.nav-menu.active {
left: 0; /* Affiche la navigation */
}

.nav-menu .logo {
align-self: flex-start;
margin: 20px;
color: white;
}

.nav-menu a {
text-decoration: none;
color: white;
font-size: 18px;
font-family: 300;
margin: 20px 0;
transition: color 0.3s;
}

.nav-menu a:hover {
background: linear-gradient(#8C3AAA, #DB3B75, #F28F3D);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Bouton de fermeture */
.close-btn {
position: absolute;
top: 20px;
right: 20px;
cursor: pointer;
display: none; 
}

.nav-menu.active .close-btn {
display: block; /* Affiché lorsque le menu est ouvert */
}

/* Responsive */
@media (max-width: 1060px) {
.burger {
  display: block; /* Affiche le menu burger */
}

.nav-links {
  display: none; /* Cache les liens */
}

.iconeRecherche {
  font-size: 100px;
}

.align {
  display: none;
}

.logo {
  content: url('Images/Page 1/Header/logo blanc.png');
}  

header {
  background-color: #1E2A37;
  color: white;
  font-size: 16px;
  font-size: 300;
  max-width: 100%;
}

}


/* Mode sombre */
.container {
  text-align: left;
  margin-top: 10px;
}

/* Style du bouton de commutation */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  transition: 0.4s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: linear-gradient(#8C3AAA, #DB3B75, #F28F3D);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #F6F8FA;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Mode sombre */
body.dark-mode {
  background-color: #242424;
  color: #F6F8FA;
}

.dark-mode a {
  color: #F6F8FA;
}

.dark-mode h1 {
  color: #F6F8FA;
}

.dark-mode p {
  color: #F6F8FA;
}

.dark-mode span {
  color: #F6F8FA;
}
 .dark-mode footer {
  background-color: #242424;
 }

 .dark-mode .logo {
  content: url('Images/header-icone-logo-insta\ darkmode.png');
}  

/* Barre de recherche responsive */

.recherche-responsive {
  display: none;
  justify-content: space-between;
  max-width: 1470px;
  gap: 5%;
  padding: 10px 0;
  }

.search-container-respon {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: #DBE5EE;
  width: 65%;
  height: 90px;
}

.bouton-respon {
  width: 35%;
}

.iconeAjout-respon {
  width: 100%;
  background: linear-gradient(to bottom left, #8C3AAA , #DB3B75, #F28F3D);
  background: linear-gradient(to bottom left, #8C3AAA , #DB3B75, #F28F3D);
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.alignIcone-respon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 5%;
}

.search-icon-respon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.search-input-respon {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: #DBE5EE;
}
/* MAIN */

h1, h2 {
font-size: 30px;
font-weight: 700;
padding: 20px 0;
color: #1E2A37;
}

h1 span {
font-size: 24px;
}

#s1 {
display: flex;
justify-content: space-between;
padding: 10px 0;
width: 100%;
max-width: 1470px;
}

.cursor {
cursor: pointer;
}

/* Responsive 1*/
@media (max-width: 1060px) {
.recherche-responsive {
  display: flex;
  padding: 15px 0;
}

header {
  padding: 20px 3%;
}

main {
  padding: 5px 3%;
}

.foot {
  padding: 25px 3%
}

#s1 {
  justify-content: space-between;
}


.dark-mode header {
  background-color: #242424;
}

.dark-mode .policeFooter {
  color: #F6F8FA;
}

.dark-mode .logo {
  content: url('Images/Page 1/Header/logo blanc.png');
}  

.recherche-responsive {
  display: flex;
}
}

@media (max-width: 950px) {
  .none {
    display: none;
  }
}

@media (max-width: 700px) {
  .none-1 {
    display: none;
  }
}

@media (max-width: 510px) {
  .none-2 {
    display: none;
  }
}


#s2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 30px;
  padding: 30px 0
}

.img-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}


.img-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.img-3 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.img-4 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.img-5 {
  grid-column: 4/-1;
  grid-row: 1/2;
}

.taille-100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.alignetest {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.alignetest, .align-link p {
  font-size: 18px;
  font-weight: 300;
  color: #1E2A37;
}

.align-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 4;
}

.align-link a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #2C66D9;
}

/* Responsive 1 */
@media (max-width: 1060px) {
.img-5 {
  display: none;
}

#s2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 30px;
  padding: 30px 0
}
}

/* Responsive 2 */
@media (max-width: 760px) {
#s2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px 30px;
  padding: 30px 0;
  }

  .taille-100 {
    object-fit: cover;
    max-width: 100%;
    max-height: 450px;
  }

  .img-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  
  .img-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .img-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .img-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .none1 {
    display: none;
  }
}

/* Responsive 3 */
@media (max-width: 510px) {
  #s2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .taille-100 {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
   
  }

  .img-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  
  .img-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .img-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  
  .img-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
}


/* FOOTER */
footer {
background-color: #1E2A37;
color: #FFFFFF;
padding: 20px 7%;
}

.footerContenair{
display: flex;
justify-content: space-between; 
align-items: center;
margin: 0 auto;
max-width: 1400;
flex-wrap: wrap; 
}

.policeFooter {
font-size: 22px;
font-weight: 500;
margin: 0;
}

/* Responsive 2 */
@media (max-width: 760px) {
.footerContenair {
flex-direction: column; 
text-align: center; 
gap: 10px; 
}

.dark-mode .policeFooter {
  color: #F6F8FA;
}
} 
